$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'products/products.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/sidebar/sidebar.scss';
// endinjector

//
// Set theme colors
//

  $color: #33dd00;
  $color2: #11bb00;
  $color3: #00003F;
  $linkcolor: #33ff33;
  $bgcolor: rgba(1, 1, 1, 0.7);
  $bgcolor2: rgba(4, 4, 4, 0.5);
  $bgcolor3: rgba(2, 2, 2, 0.7);
  $bgcolor4: rgba(0, 0, 0, 0);
  $bgcolor5: rgba(0, 0, 155, 1);
  $bgcolor6: rgba(0, 0, 0, 1);

html {
  color: $color;
  background-color: $bgcolor6;
  background-image: url("/assets/images/checkboxpattern.png");
  background-clip: border-box !important;
  background-origin: padding-box !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  background-position: left top !important;
  background-attachment: scroll !important;
  body {
    color: $color;
    background-color: $bgcolor4;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.navbar-default {
  color: $color;
  background-color: $bgcolor2;
  border-color: $bgcolor2;
  .active {
    color: $color2;
    background-color: $bgcolor3;
    a {
      color: $color2;
      background-color: $bgcolor3;
    }
  }
  li {
    color: $color2;
    background-color: $bgcolor3;
    a {
      color: $color2;
      background-color: $bgcolor3;
    }
  }
  a {
    color: $color2;
    background-color: $bgcolor3;
  }
  a:focus {
    color: $color2;
    background-color: $bgcolor3;
  }
  a:hover {
    color: $color2;
    background-color: $bgcolor3;
  }
}

navbar.ng-scope {
  color: $color;
  background-color: $bgcolor;
  border-color: $bgcolor2;
}

navbar {
  color: $color;
  background-color: $bgcolor;
  border-color: $bgcolor2;
  .ng-scope {
    color: $color;
    background-color: $bgcolor;
    border-color: $bgcolor2;
  }
  .navbar-default {
    color: $color;
    background-color: $bgcolor2;
    border-color: $bgcolor2;
  }
  .navbar-header {
    color: $color;
    background-color: $bgcolor2;
    border-color: $bgcolor2;
  }
  .navbar-brand {
    color: $color;
    background-color: $bgcolor2;
    border-color: $bgcolor2;
  }
  .navbar-nav {
    color: $color;
    background-color: $bgcolor2;
    border-color: $bgcolor2;
    .active {
      color: $color2;
      background-color: $bgcolor3;
      a {
        color: $color2;
        background-color: $bgcolor3;
      }
    }
    li {
      color: $color2;
      background-color: $bgcolor3;
      a {
        color: $color2;
        background-color: $bgcolor3;
      }
    }
    a {
      color: $color2;
      background-color: $bgcolor3;
    }
    a:focus {
      color: $color2;
      background-color: $bgcolor3;
    }
    a:hover {
      color: $color2;
      background-color: $bgcolor3;
    }
  }
  .active {
    color: $color2;
    background-color: $bgcolor3;
    a {
      color: $color2;
      background-color: $bgcolor3;
    }
  }
  .ng-binding {
    color: $color2;
    background-color: $bgcolor3;
  }
}

.navbar-default .navbar-nav > .active > a {
  color: $color2;
  background-color: $bgcolor3;
}

.navbar-form {
  color: $color;
  background-color: $bgcolor2;
  border-color: $bgcolor2;
  .form-group {
    color: $color;
    background-color: $bgcolor2;
    .input-group {
      color: $color;
      background-color: $bgcolor2;
      .input-group-addon {
        color: $color;
        background-color: $bgcolor2;
      }
      #searchBox {
        color: $color;
        background-color: $bgcolor2;
      }
    }
  }
}


html {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: $linkcolor;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $color3;
}

#banner {
  position: relative;
  padding: 30px 15px;
  color: $linkcolor;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $color3;
}

.page-header {
  border-bottom: 1px solid $bgcolor2;
}

.thumbnail {
  border: 1px solid $bgcolor2;
}

footer.footer {
  border-top: 1px solid $bgcolor2;
}

#navbar-main {
  border-color: $bgcolor2 !important;
}

.navbar-collapse {
  border-color: $bgcolor2;
}

.form-group {
  border-color: $bgcolor2;
}

.input-group {
  border-color: $bgcolor2;
}

.navbar-form .navbar-left .ng-pristine .ng-valid {
    border-color: $bgcolor2;
}
form.navbar-form {
    border-color: $bgcolor2;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $bgcolor2;
}

.input-group-addon {
  border-color: $bgcolor5;
}

#searchBox {
  border-color: $bgcolor5;
}
.ng-scope {
}
.ng-valid {
  color: $color;
  background-color: $bgcolor2;
  border-color: $bgcolor2;
}
.ng-touched {
  color: $color;
  background-color: $bgcolor2;
  border-color: $bgcolor2;
}
.table-striped > tbody > tr:nth-child(odd) > td {
  color: $color;
  background-color: $bgcolor2;
  border-color: $color2;
}
.table-striped > tbody > tr:nth-child(even) > td {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
th, .table > tfoot > tr > td {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
input {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.form-control {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.btn {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
hr {
  color: $color;
  background-color: $bgcolor3;
  border-top: 1px solid $color2;
}
.input-large {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
a.navbar-brand {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
a.navbar-brand:focus {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.navbar-default .navbar-brand {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.navbar-default .navbar-nav > li > a:hover {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}

.navbar-default .navbar-nav > li > a {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.form-control::-moz-placeholder {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $color;
  background-color: $bgcolor3;
  border-color: $color2;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $color2;
  background-color: $bgcolor;
  border-color: $bgcolor5;
}
.nav > li > a:hover, .nav > li > a:focus {
  color: $color2;
  background-color: $bgcolor;
  border-color: $bgcolor5;
}
.container .ng-scope{
  background-color: $bgcolor4;
  border-color: $bgcolor4;
}
.row {
  background-color: $bgcolor;
  border-color: $bgcolor4;
}
